body {
    box-sizing: border-box;
    width: 100%;

}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin: 20px 0;
}

.gallery__item {
    width: calc(25% - 30px);
}

.photo-card {
    width: 100%;
    background-color: rgb(230, 230, 248);
    
}

.photo-card img{
    display: block;
    max-width: 100%;
    // min-height: 250px;
    height: inherit;
}

.info {
    display: flex;
    color: blue;
    justify-content: center;
    font-size: 12px;
    gap: 8px;
    margin-left: 8px;
}