header {
    max-width: 1200px;
    margin: 0 auto;
    background-color: blue;
}
.search-form {
    display: flex;
    justify-content: center;
    padding: 20px;
    
}
.search-form input {
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 250px;
}
// need change button!!!!
.search-form button {
    margin-left: 10px;
    background-color: transparent;
    color:azure;
    border: none;
    cursor: pointer;
}
